<%= form_for :task, remote: true do |f| %>
  <%= f.text_field :task_name %>
  <%= f.submit %>
<% end %>

<h1>This is the rest of the form</h1>

<p>put anything in here and it will show in the form page</p>
