$color: navy + #444;
$border: 2px solid red;

$gender: 'boy';

$genderColor: if($gender == 'boy', lightblue, pink);

@mixin Border($size: 1px, $radius: 5px) {
  border: $size solid $color;
  border-radius: $radius;
}

.photo {
  padding: 10px;
  margin: 2px;
  background-color: $genderColor;
  @include Border(5px, 10px);
}

