@color: blue;

@border: 3px solid black;

/*
.photo {
  padding: 10px;
  margin: 2px;
  .Round(10px);
  .Background(spin(@color,30%));
  border: @border;
}

.Round(@radius) {
  border: 1px solid @color;
  border-radius: @radius;
}

.Background(@color) {
  background-color: @color;
}

*/

