<h1>Public#index</h1>

<p>Environment variable test: <%= ENV["DB_ROOT_PASSWORD"]%></p>

<p><%= flash[:notice] %></p>
<%= link_to("Add New User", {:action => 'new'}, :id => "new_link", remote: true) %>
<p id="user-list">user list:</p>



<%= render('public/users') %>



<div id="json-div"></div>

<script>

    $.ajax({
        type: 'POST',
        url: 'public/get_json',
        data: {photoset_id: "72157642276492534"},
        success: function(result){


           var res = $.parseJSON(result);

            var res2 = $.parseJSON(res);

            $.each(res2.photoset.photo, function(key,photo){
                console.log(createImageUrl(photo,'thumb'));
            });
        }
    });

    function createImageUrl(photo, size) {
        var suffix = size === "thumb" ? "t.jpg" : "c.jpg";
        var src_url = "http://farm" + photo.farm + ".static.flickr.com/" +
                photo.server + "/" + photo.id + "_" + photo.secret + "_" + suffix;
        return src_url;
    }
</script>
